html, body {
    height:100%;
} 

.encabezado {
    background: url("../img/fondo.jpg") no-repeat;
    background-size: cover;
    height: 43em;
    padding: 2em 1em;
    margin-bottom: 0;
}

.img-flag {
    border: solid black 1px;
}

.group-tabs {
    margin-bottom: 1em;
    padding-top: 1em;
}

.team-name {
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    padding-left: 0.5em;
}

.team-name:hover {
    color: blue;
    text-decoration:none;
}

nav {
    margin-top: 15em;
    margin-bottom: 3em;
}

nav .nav-link {
    font-size: 2em;
    color: blue;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

nav .nav-link:hover {
    color: #000000;
}

.header-text {
    color: red;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 3em;
}

.header-text h2 {
    color: #FA0012;
}

.partido {
    font-size: 1.5em;
}

.fecha {
    font-size: 2em;
    font-weight: bold;
}

footer {
    background-color: #041D57;
    color: white;
    height: 8em;
}

footer p {
    margin: 0;
    padding-top: 1em;
}

.img-logo {
    height: 6em;
    width: 5em;
}

.horizontal-panel-1 {
    background: linear-gradient(to bottom right, #0E3D8C, #131574);
    color: white;
    padding: 3em 1.5em 3em 1.5em;
}